  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% assign currentVariant = product.selected_or_first_available_variant %}
{% assign currentVariantImage = currentVariant.featured_image %}
{%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
{%- assign nonVariantImages = product.images | where: 'attached_to_variant?', false | map: 'src' -%}
<modal-dialog id="ProductModal-{{ product.id }}" class="to-md:hidden" data-for="product-{{ product.id }}">
    <div class="p-[44px] w-[656px] h-[538px] flex gap-s7 bg-black-50 relative" role="dialog">
        <div class="flex-1 relative overflow-hidden carousel">
            {% assign carouselIndex = 0 %}
            {% if currentVariantImage %}
                <img src="{{ currentVariantImage | image_url }}" class="w-full h-full object-cover absolute top-0 transition-left carousel-img variant-img" style="left:calc(100% * 0);" data-index="0" width="300" height="450" loading="lazy" />
                {% assign carouselIndex = carouselIndex | plus: 1 %}
            {% endif %}
            {% for image in nonVariantImages %}
                <img src="{{ image | image_url }}" class="w-full h-full object-cover absolute top-0 transition-left carousel-img" style="left:calc(100% * {{ carouselIndex }});" data-index="{{ carouselIndex }}" width="300" height="450" loading="lazy" />
                {% assign carouselIndex = carouselIndex | plus: 1 %}
            {% endfor %}
            <button class="absolute left-0 top-1/2 -transform-y-1/2 px-s1 py-s2 bg-black-50 disabled:hidden carousel-control" data-action="prev">
                {% render "24-left", class: "text-black-400" %}
            </button>
            <button class="absolute right-0 top-1/2 -transform-y-1/2 px-s1 py-s2 bg-black-50 disabled:hidden carousel-control" data-action="next">
                {% render "24-right" class: "text-black-400" %}
            </button>
        </div>
        <div class="w-[236px]">
            <p class="faux-p-lg text-black-900 mt-s7">{{ product.title }}</p>
            <p id="price-{{ section.id }}-{{ product.id }}" class="faux-p-sm text-black-900 mt-s5">
                {% if currentVariant.compare_at_price and currentVariant.compare_at_price > currentVariant.price %}
                    <span class="text-black-400 line-through">{{ currentVariant.compare_at_price | money }}</span>
                    <span class="text-red-500 ml-s2">{{ currentVariant.price | money }}</span>
                {% else %}
                    {{ currentVariant.price | money }}
                {% endif %}
                {% unless currentVariant.available %}
                    <span class="text-red-500 ml-s2">Out of Stock</span>
                {% endunless %}
            </p>
            <div class="w-full h-[1px] mt-s7" style="background-color:#DDDDDD;"></div>
            <variant-radios data-section="{{ section.id }}" data-product="{{ product.id }}" data-url="{{ product.url }}">
                <div class="relative mt-s7">
                    <fieldset class="flex gap-s1 pt-s5 pb-[2px]">
                        {% render 'product-colors', product: product, size: 'sm', preview: false %}
                    </fieldset>
                </div>
                <div class="mt-s5">
                    <p class="faux-p-xs block">Size</p>
                    <fieldset class="flex flex-wrap justify-start gap-s2 mt-s2">
                        {% for option in product.options_with_values %}
                            {% if option.name == "Size" %}
                                {% for optionValue in option.values %}
                                    {% assign abbreviatable = "small,medium,large" | split: "," %}
                                    <input type="radio" name="size-{{ product.id }}-{{ section.id }}" value="{{ optionValue | escape }}" id="size-radio-{{ product.id }}-{{ section.id }}-{{ forloop.index }}" class="absolute size-selector " {% if forloop.first %}checked{% endif %}/>
                                    <label class="form-control faux-p-sm py-s3 px-s4 border-1" for="size-radio-{{ product.id }}-{{ section.id }}-{{ forloop.index }}">
                                        {% assign lowercaseValue = optionValue | downcase %}
                                        {% if abbreviatable contains lowercaseValue %}
                                            {{ optionValue | slice: 0 | upcase }}
                                        {% else %}
                                            {{ optionValue | upcase }}
                                        {% endif %}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
                <script type="application/json">
                    {{ product.variants | json }}
                </script>
            </variant-radios>
            {%- assign product_form_id = 'product-form-' | append: section.id | append: "-" | append: product.id -%}
            <product-form>
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    disabled
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit btn btn--sm w-full mt-s7"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        Add to Basket
                      {%- else -%}
                        Sold Out
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      Sold Out
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        role="presentation"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {%- endform -%}
              </product-form>
            <a href="{{ product.url }}" class="btn btn--sm w-full mt-s4">View Full Details</a>
        </div>
        <button id="ModalClose-{{ product.id }}" class="w-s8 h-s8 flex justify-center items-center absolute top-s5 right-s5 border-black-200 border-1 rounded-full">
            {% render "24-close", class: "text-blue-800" %}
        </button>
    </div>
</modal-dialog>
