<div class="max-w-[1440px] mx-auto">
  <div class="pt-s10">
    <div class="flex justify-between items-center px-36 lg:px-72">
      <p class="faux-h6 text-black-500 ">{{ section.settings.instaTagline }}</p>
      <a class="btn btn--sm btn--borderless to-md:hidden" href="{{ settings.social_instagram_link }}">{{ section.settings.followLinkText }}</a>
    </div>
    <style>
      .tagembed-container iframe {
        min-height: unset !important;
      }
      .theme4_poweredBy {
        display: none;
      }
    </style>
    <div class="tagembed-container px-36 lg:px-72 mt-s6" style=" width:100%;height:100%;overflow: auto;">
      <div class="tagembed-socialwall !h-auto" data-wall-id="83133" view-url="https://widget.tagembed.com/83133"></div>
      <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script>
    </div>
    <div class="text-right px-36 mt-s5 md:hidden">
      <a class="btn btn--sm btn--borderless" href="{{ settings.social_instagram_link }}">{{ section.settings.followLinkText }}</a>
    </div>
  </div>
  <div class="px-36 lg:px-72 pt-s12 pb-s9 md:py-s10 flex to-md:flex-col gap-s11 md:gap-s8 lg:gap-s14 justify-between">
    <div class="max-w-[600px]">
      <p class="faux-h4 text-primary-800">{{ section.settings.newsletterText }}</p>
      <div class="relative">
        <form id="email_signup" action="https://manage.kmail-lists.com/subscriptions/subscribe?a=WUN3cr&g=UAW7nW" method="POST" class="mt-s7 w-full btn--borderless py-0 flex">
          <input type="hidden" name="g" value="UAW7nW">
          <input type="email" value="" name="email" id="k_id_email" placeholder="{{ section.settings.newsletterPlaceholder }}" class="py-s2 mb-s1 outline-none w-full mr-s3"/>
          <button type="submit">
            {% render '12-right-arrow', class: "text-secondary-300" %}
          </button>
        </form>
        <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
      </div>
    </div>
    <div class="flex gap-s8 lg:gap-s10">
      <div>
        <h3 class="ui-sm uppercase text-primary-800">Contact</h3>
        <a href="mailto:{{ settings.email }}" class="block faux-p-sm text-black-600 hover:text-secondary-500 transition-all mt-s7">{{ settings.email }}</a>
        <a href="tel:{{ settings.phone_number | remove: "-" | remove: "." | remove: "(" | remove: ")" | remove: " " }}" class="block faux-p-sm text-black-600 hover:text-secondary-500 transition-all mt-s6">{{ settings.phone_number}}</a>
        <a href="https://www.google.com/maps/place/The+Wharf/@30.2930875,-87.631064,17z/data=!3m1!4b1!4m5!3m4!1s0x889a05adb6d2fbbd:0x30b0a172c0e610ce!8m2!3d30.2930829!4d-87.6288753" class="block faux-p-sm text-black-600 hover:text-secondary-500 transition-all mt-s6">{{ settings.address | newline_to_br }}</a>
      </div>
      <div class="w-max">
        <h3 class="ui-sm uppercase text-primary-800">Customer Service</h3>
        {% if section.settings.linkList %}
            {% for link in section.settings.linkList.links %}
                <a href="{{ link.url }}" class="block faux-p-sm text-black-600 hover:text-secondary-500 transition-all {% if forloop.first %}mt-s7{% else %}mt-s6{% endif %}">{{ link.title }}</a>
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mx-36" style="border-top: 1px solid rgba(178, 178, 177, .2);"></div>
  <div class="px-s5 md:px-s6 lg:px-36 pt-s8 pb-s6 md:py-s6 flex to-md:flex-col-reverse items-center gap-s8 md:gap-s10">
    <div class="flex-1 flex items-center gap-s4">
      <p class="text-black-500 faux-p-xs">© 2022 Shop the Wharf. All Rights Reserved.</p>
      <div class="h-s5 w-[2px] bg-primary-50"></div>
      <a href="/pages/privacy-policy" class="text-black-500 hover:text-secondary-500 transition-all faux-p-xs shrink-0">Privacy Policy</a>
    </div>
    <div class="h-s6 flex gap-s4 text-primary-800">
      {% if settings.social_facebook_link != '' %}
        <a href="{{ settings.social_facebook_link }}" target="_blank" class="hover:text-primary-700 transition-all">{% render '24-logo-facebook-simple' %}</a>
      {% endif %}
      {% if settings.social_instagram_link != '' %}
        <a href="{{ settings.social_instagram_link }}" target="_blank" class="hover:text-primary-700 transition-all">{% render '24-instagram' %}</a>
      {% endif %}
      {% if settings.social_tiktok_link != '' %}
        <a href="{{ settings.social_tiktok_link }}" target="_blank" class="hover:text-primary-700 transition-all">{% render '24-tiktok' %}</a>
      {% endif %}
      {% if settings.social_twitter_link != '' %}
        <a href="{{ settings.social_twitter_link }}" target="_blank" class="hover:text-primary-700 transition-all">{% render '24-logo-twitter' %}</a>
      {% endif %}
    </div>
    <a href="/" class="flex-1 flex justify-end ">
      <img src="{{ 'Logo-Wharf-Stacked.svg' | asset_url }}" alt="The Wharf Store">
    </a>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "linkList",
        "label": "Footer Menu"
      }, {
        "type": "text",
        "id": "instaTagline",
        "label": "Instagram Tagline",
        "default": "TAG US IN YOUR PHOTOS!"
      }, {
        "type": "text",
        "id": "followLinkText",
        "label": "Instagram Follow Link Text",
        "default": "Follow Us On Instagram"
      }, {
        "type": "text",
        "id": "newsletterText",
        "label": "Newsletter Text",
        "default": "Be the first to know about promotions and new products—plus, get 15% off your first purchase!"
      }, {
        "type": "text",
        "id": "newsletterPlaceholder",
        "label": "Newsletter Input Placeholder",
        "default": "Enter your email to get our newsletter"
      }
    ]
  }
{% endschema %}