<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>
{% assign currentVariant = product.selected_or_first_available_variant %}
<section
  id="MainProduct-{{ section.id }}"
  class="w-full px-72 bg-black-50"
  data-section="{{ section.id }}"
>
    {% render 'breadcrumb' %}
    <div class="product flex items-start gap-s10 px-36 pb-s12 md:pb-s13 max-w-content-lg mx-auto">
        <div class="images flex-1">
            {% if featuredImage %}
                <img
                    id="Thumbnail-{{ section.id }}-0"
                    src="{{ featured_media | image_url: width: 700 }}"
                    alt="{{ featured_media.alt | escape }}"
                    loading="lazy"
                >
            {% endif %}
            {%- for media in product.media -%}
                <img
                id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                src="{{ media | image_url: width: 700 }}"
                alt="{{ media.alt | escape }}"
                loading="lazy"
                class="w-full"
                >
            {% endfor %}
        </div>
        <div class="product-info w-[460px] sticky top-s10">
            <h1 class="faux-h3 text-primary-900">{{product.title}}</h1>

            <p id="price-{{ section.id }}" class="price faux-p-lg text-primary-900">
                {% if currentVariant.compare_at_price and currentVariant.compare_at_price > currentVariant.price %}
                    <span class="text-black-400 line-through">{{ currentVariant.compare_at_price | money }}</span>
                    <span class="text-red-500 ml-s2">{{ currentVariant.price | money }}</span>
                {% else %}
                    {{ currentVariant.price | money }}
                {% endif %}
                {% unless currentVariant.available %}
                    <span class="text-red-500 ml-s2">Out of Stock</span>
                {% endunless %}
            </p>
            <div class="w-full h-[1px] mt-s8" style="background-color:#DDDDDD;"></div>
            <p></p>
            <variant-radios class="block relative mt-s8 " data-section="{{ section.id }}" data-url="{{ product.url }}" data-product-page="true">
                <fieldset class="flex gap-s2 pt-s6">
                    {% render 'product-colors', product: product, preview: false %}
                </fieldset>
                <fieldset class="flex justify-start gap-s4 mt-s6">
                    {% for option in product.options_with_values %}
                        {% if option.name == "Size" %}
                            {% for optionValue in option.values %}
                                <input type="radio" name="Size" value="{{ optionValue | escape }}" id="size-radio-{{ forloop.index }}" class="absolute size-selector" {% if currentVariant.options contains optionValue %}checked{% endif %}/>
                                <label class="form-control faux-p p-s4 border-1" for="size-radio-{{ forloop.index }}">{{ optionValue }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <script type="application/json">
                    {{ product.variants | json }}
                </script>
                <a class="inline-block mt-s4">Size Guide</a>
            </variant-radios>
                    {%- assign product_form_id = 'product-form-' | append: section.id -%}

                    <product-form class="{% unless currentVariant.available %}hidden{% endunless %}">
                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                        <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            disabled
                        >
                        <button
                            id="{{ product_form_id }}-submit"
                            type="submit"
                            name="add"
                            class="quick-add__submit btn btn--sm w-full mt-s8"
                            aria-haspopup="dialog"
                            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                            aria-live="polite"
                            data-sold-out-message="true"
                            {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                            {% endif %}
                        >
                            <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                                Add to Cart
                            {%- else -%}
                                Sold Out
                            {%- endif -%}
                            </span>
                            <span class="sold-out-message hidden">
                            Sold Out
                            </span>
                            <div class="loading-overlay__spinner hidden">
                            <svg
                                aria-hidden="true"
                                focusable="false"
                                role="presentation"
                                class="spinner"
                                viewBox="0 0 66 66"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                            </div>
                        </button>
                        <p class="text-center mt-s4 faux-p-sm text-black-700">Free US Shipping $75+</p>
                        {%- endform -%}
                    </product-form>
            <div class="mt-s10">
                <p class="faux-p-sm text-black-800">{{ product.description }}</p>
            </div>
            <div class="faq__accordion mt-s10">
                <ul class="accordion-items list-none accordion">
                    {% assign temp = "1,2,3,4" | split: "," %}
                    {% for i in temp %}
                        <li class="accordion__item accordion__item">
                            <button aria-controls="accordionContent{{ forloop.index }}" id="accordionBtn{{ forloop.index }}" class="accordion__trigger ">
                                <h2 class="accordion__heading faux-p-sm text-black-800">Technical Specifications</h2>
                                {% render "12-down", class: "text-black-700 mx-s2", strokeWidth:"1" %}
                            </button>
                            <div id="accordionContent{{ forloop.index }}" aria-labelledby="accordionBtn{{ forloop.index }}" class="accordion__content-wrapper content-dependant" >
                                <p class="before:hidden after:hidden pb-s7">KardiaMobile® 6L with KardiaCare is compatible with most popular phones and tablets. To use your Kardia device, <b>you must download the Kardia app on a compatible device</b> running at least Apple iOS 10.3.3, or at least Android OS 6.0.</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="share flex justify-between items-center py-s7">
                <p class="faux-p-sm text-black-700">Share</p>
                <div class="text-black-400 flex gap-s3">
                    <a href="{{ settings.social_facebook_link }}" class="hover:text-black-600">{% render '16-logo-facebook-simple' %}</a>
                    <a href="{{ settings.social_twitter_link }}" class="hover:text-black-600">{% render '16-logo-twitter' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "checkbox",
        "id": "size-guide",
        "label": "Size Guide Link"
    }
  ],
  "blocks": [
    {
        "name": "Accordion Item",
        "type": "accordion-item",
        "settings": [
            {
                "type": "richtext",
                "id":"accordion-content",
                "label": "Accordion Item Content"
            }
        ]
    }
  ]
}
{% endschema %}
