<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% assign currentVariant = product.selected_or_first_available_variant %}
<section
  id="MainProduct-{{ section.id }}"
  class="w-full px-72 bg-black-50"
  data-section="{{ section.id }}"
>
    <div class="breadcrumb pt-s8 pb-s9">Apparel > Mens > Tops > {{ product.title }}</div>
    <div class="product flex items-start gap-s10 px-36 pb-s12 md:py-s13 max-w-content-lg mx-auto">
        <div class="images flex-1">
            {% if featuredImage %}
                <img
                    id="Thumbnail-{{ section.id }}-0"
                    src="{{ featured_media | image_url: width: 700 }}"
                    alt="{{ featured_media.alt | escape }}"
                    loading="lazy"
                >
            {% endif %}
            {%- for media in product.media -%}
                <img
                id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                src="{{ media | image_url: width: 700 }}"
                alt="{{ media.alt | escape }}"
                loading="lazy"
                class="w-full"
                >
            {% endfor %}
        </div>
        <div class="product-info w-[460px] sticky top-s10">
            <h1 class="faux-h3 text-primary-900">{{product.title}}</h1>

            <p id="price-{{ section.id }}" class="price faux-p-lg text-primary-900">
                {% if currentVariant.compare_at_price and currentVariant.compare_at_price > currentVariant.price %}
                    <span class="text-black-400 line-through">{{ currentVariant.compare_at_price | money }}</span>
                    <span class="text-red-500 ml-s2">{{ currentVariant.price | money }}</span>
                {% else %}
                    {{ currentVariant.price | money }}
                {% endif %}
                {% unless currentVariant.available %}
                    <span class="text-red-500 ml-s2">Out of Stock</span>
                {% endunless %}
            </p>
            <div class="w-full h-[1px] mt-s8" style="background-color:#DDDDDD;"></div>
            <p></p>
            <variant-radios class="block relative mt-s8 " data-section="{{ section.id }}" data-url="{{ product.url }}" data-product-page="true">
                <fieldset class="flex gap-s2 pt-s6">
                    {% render 'product-colors', product: product, preview: false %}
                    {% for option in product.options_with_values %}
                        {% if option.name == "Color" %}
                            {% for optionValue in option.values %}
                                <input type="radio" name="Color" value="{{ optionValue | escape }}" id="color-radio-{{ product.id }}-{{ forloop.index }}" class="color-selector" {% if currentVariant.options contains optionValue %}checked{% endif %}/>
                                <label class="form-control absolute top-0 left-0 faux-p-xs text-black-700" for="color-radio-{{ product.id }}-{{ forloop.index }}">{{ optionValue }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <fieldset class="flex justify-start gap-s4 mt-s6">
                    {% for option in product.options_with_values %}
                        {% if option.name == "Size" %}
                            {% for optionValue in option.values %}
                                <input type="radio" name="Size" value="{{ optionValue | escape }}" id="size-radio-{{ forloop.index }}" class="absolute size-selector" {% if currentVariant.options contains optionValue %}checked{% endif %}/>
                                <label class="form-control faux-p p-s4 border-1" for="size-radio-{{ forloop.index }}">{{ optionValue }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <script type="application/json">
                    {{ product.variants | json }}
                </script>
                <a class="inline-block mt-s4">Size Guide</a>
            </variant-radios>
                    {%- assign product_form_id = 'product-form-' | append: section.id -%}

                    <product-form class="{% unless currentVariant.available %}hidden{% endunless %}">
                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                        <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            disabled
                        >
                        <button
                            id="{{ product_form_id }}-submit"
                            type="submit"
                            name="add"
                            class="quick-add__submit btn btn--sm w-full mt-s8"
                            aria-haspopup="dialog"
                            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                            aria-live="polite"
                            data-sold-out-message="true"
                            {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                            {% endif %}
                        >
                            <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                                Add to Cart
                            {%- else -%}
                                Sold Out
                            {%- endif -%}
                            </span>
                            <span class="sold-out-message hidden">
                            Sold Out
                            </span>
                            <div class="loading-overlay__spinner hidden">
                            <svg
                                aria-hidden="true"
                                focusable="false"
                                role="presentation"
                                class="spinner"
                                viewBox="0 0 66 66"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                            </div>
                        </button>
                        <p class="text-center mt-s4 faux-p-sm text-black-700">Free US Shipping $75+</p>
                        {%- endform -%}
                    </product-form>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "buy_buttons",
      "name": "Buy Buttons",
      "limit": 1
    }
  ]
}
{% endschema %}
