<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% assign badgeTags = "new,best seller,sale" | split: "," %}

{% liquid
    assign sidebar_menus = 'apparel,objects,featured' | split: ','
    for linklist in linklists
        if sidebar_menus contains linklist.handle
            for topLevelLink in linklist.links
                if topLevelLink.current
                    assign menu = linklist.handle
                    assign topLevel = topLevelLink.handle
                    assign current = topLevelLink.handle
                    assign currentTitle = topLevelLink.title
                endif
                for secondLevelLink in topLevelLink.links
                    if secondLevelLink.current
                        assign menu = linklist.handle
                        assign topLevel = topLevelLink.handle
                        assign current = secondLevelLink.handle
                        assign currentTitle = secondLevelLink.title
                    endif
                endfor
            endfor
            if menu
                break
            endif
        endif
    endfor
%}

<div class="hero">
  <div class="flex flex-wrap gap-y-s6 md:gap-y-s8 gap-x-s8 justify-between w-full py-s10 px-s5 sm:px-54 md:px-72">
    <h1 class="faux-h3 text-primary-800 before:hidden">Search Results</h1>
    <div id="search-container" class="flex">
      <input value="{{search.terms}}" class="search-input w-[268px] md:w-[382px] px-s4 py-s2 border-black-100 rounded-0 outline-none placeholder-black-600 border-[1px]">
      <button class="search-submit btn btn--dark btn--sm capitalize tracking-0">Search Again</button>
    </div>
  </div>
</div>
<div class="products px-s5 sm:px-54 md:px-72 ">
  <div class="max-w-[1112px] w-full mx-auto pb-s11 md:pb-s13 flex ">
    {% assign resultCount = search.results | size %}
    {% if resultCount > 0 %}
      <div id="filtered-collection-grid" data-url="{{ search.url }}" data-section="{{ section.id }}" class="grid grid-cols-2 lg:grid-cols-3 gap-x-s4 xs:gap-x-s8 gap-y-s8 md:gap-s10 flex-1">
        {% for product in search.results %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    {% else %}
      <p class="faux-h4">No results for "{{ search.terms }}"</p>
    {% endif %}
    <script id="collection-data" type="application/json">
      {{ collection.products | json }}
    </script>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 24,
        "step": 4,
        "default": 16,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__3.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
      }, {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
        "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
      }, {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      }, {
        "type": "checkbox",
        "id": "enable_filtering",
        "default": true,
        "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
        "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
      }, {
        "type": "select",
        "id": "filter_type",
        "options": [
          {
            "value": "horizontal",
            "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
          }, {
            "value": "vertical",
            "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
          }, {
            "value": "drawer",
            "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
          }
        ],
        "default": "horizontal",
        "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
        "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
      }, {
        "type": "checkbox",
        "id": "enable_sorting",
        "default": true,
        "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
      }, {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
          }
        ]
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}
