<div class="w-full max-w-content mx-auto flex gap-s9">
    <div class="w-[366px] flex justify-end">
        {% if section.settings.headingImage %}
            <img src="{{ section.settings.headingImage | image_url }}" class="w-[360px]"/>
        {% else %}
            <h2 class="faux-h4 w-[230px] text-right text-secondary-100"> {{ section.settings.heading }} </h2>
        {% endif %}
    </div>
    <div class="w-[2px] h-auto bg-secondary-500"></div>
    <div class="flex-1">
        <p class="text-white">{{ section.settings.text }}</p>
        <a class="mt-s6 btn btn--sm" href="{{ block.settings.buttonDest.url }}">{{ section.settings.buttonLabel }} </a>
    </div>
</div>

{% schema %}
    {
        "name": "sale-cta",
        "class": "bg-primary-800 py-s9 px-s13",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Our Summer Sale is Shining!"
            },
            {
                "type": "image",
                "id": "headingImage",
                "label": "Heading Image",
                "info": "Optional. This field will replace the heading if used."
            },
            {
                "type": "text",
                "id": "text",
                "label": "Main Text",
                "default": "Take 50% off our end of season sale. All sales final — ends soon!"
            },
            {
                "type": "text",
                "id": "buttonLabel",
                "label": "Button Label",
                "default": "Shop Sale"
            },
            {
                "type": "page",
                "id": "buttonDest",
                "label": "Button Destination"
            }
        ]
    }
{% endschema %}
